// main product banner
.section {
  padding-bottom: 50px;

  @media screen and (max-width: 767px) {
    padding-bottom: 12px;
  }
}

.section_wrap {
  display: block;
  @media screen and (min-width: 768px) {
    width: 1240px;
  }
  margin: 0 auto;
  position: relative;
  z-index: 1;

  > .section_title {
    float: left;
    width: 100%;
    margin: 100px 0 45px;
    text-align: center;

    .title {
      font-family: "Roboto";
      font-size: 37px;
      font-weight: 600;
      line-height: 44px;
    }

    .divider {
      border: 2px solid #009739;
      position: relative;
      display: inline-block;
      width: 30px;
      margin-top: 25px;
      margin-bottom: 10px;

      &:after {
        position: absolute;
        top: -8px;
        left: 0;
        content: "";
        width: 50px;
        height: 1px;
        background: #0057b7;
      }

      &:before {
        position: absolute;
        bottom: -8px;
        right: 0;
        content: "";
        width: 50px;
        height: 1px;
        background: #0057b7;
      }
    }

    > .title__sub {
      margin-top: 15px;
      font-size: 17px;
      line-height: 25px;
      color: #666;
    }
  }

  > .banner-box {
    display: inline-block;
    width: 20%;
    padding: 0 5px;
    margin-bottom: 40px;
    img {
    }
  }

  @media screen and (max-width: 767px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    > .section_title {
      margin: 24px 0 20px;

      .title {
        font-size: 20px;
      }

      .divider {
        margin: 12px 0 6px;
      }

      > .title__sub {
        margin-top: 8px;
        font-size: 12px;
      }
    }

    .banner-box {
      width: 33.3%;
      margin-bottom: 12px;
      padding: 0 5px;

      img {
        width: 100%;
      }
    }

    .banner-box-korea {
      display: none;
    }
  }
}
