:root {
  --mainfont-notosans: "Noto Sans KR";
  --mainfont-roboto: "Roboto";

  // 폰트 셋팅
  font-family: var(--mainfont-roboto), var(--mainfont-notosans);
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;

  // 폰트 최적화
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  // @media (max-width: 800px) {
  //   font-size: 14px;
  //   line-height: 1.4;
  // }
}
